/* Footheme custom.css - enter your custom styles here! */
#page > header {
clear: both;
padding: 10px 0 0;
}

.panasiri .field-type-image {
  margin-left: 0;
}

.panasiri #branding,
.panasiri #branding #logo a {
	float: left;
	width: 220px;
	height: 140px;
  margin: 0;
}
.panasiri #branding #logo{
	width: 220px;
	height: 140px;
	padding: 0;
}

#columns {
}
.columns-inner {
	padding-top: 0;
}

#content-column {
}

/* Menu bar*/

/* Navigation */
#menu-bar {
	float: right;
	width: 740px;
	clear: none;
	padding-top: 0;
}
#menu-bar .menu-wrapper,
#menu-bar .menu-wrapper ul.menu {
	float: right;
}

#menu-bar .menu-wrapper ul.menu {
	margin: 0 20px;
}

#menu-bar .menu-wrapper ul.menu li {
	margin: 0;
	list-style: none;
}

#menu-bar .menu-wrapper li a, #menu-bar .menu-wrapper .menu li a {
	padding: 0 1.25em;
	line-height: 2.3em;
}

#menu-bar #block-system-main-menu ul a {
	border: 1px solid #fff;
}
#menu-bar #block-system-main-menu ul a:hover,
#menu-bar #block-system-main-menu ul a.active {
	background: #9c4;
	color: #fff;
}

/* i18n */
.region-header {
	float: right;
	width: 740px;
	max-width: 740px;
	padding: 10px 0;
	height: 72px;
	clear: none;
}

.language-switcher-locale-url {
	float: right;
	height: 140px;
	margin: 0;
}

.language-switcher-locale-url li {
	list-style: none;
	display: inline;
	text-indent: -999em;

}
.language-switcher-locale-url li a,
.language-switcher-locale-url li span.locale-untranslated {
	display: block;
	float: left;
	padding: 2px 8px;
	width: 24px;
	height: 24px;
	text-indent: -999em;
	background: #fff;
	border-radius: 0 0 0 0 !important;
	border: 1px solid #fff;
}
.language-switcher-locale-url li a:hover {
	background-color: #e6e4e2;
}
.language-switcher-locale-url li a.active {
	background-color: #e6e4e2;
}

.language-switcher-locale-url li span.locale-untranslated {
	opacity: 0.25;
}

.language-switcher-locale-url li a,
.language-switcher-locale-url li span.locale-untranslated {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.language-switcher-locale-url li.en a,
.language-switcher-locale-url li.en span.locale-untranslated {
	background-image: url(../flags/en.png);
}
.language-switcher-locale-url li.th a,
.language-switcher-locale-url li.th span.locale-untranslated {
	background-image: url(../flags/th.png);
}

.field-slideshow-slide img {
	width: auto !important;
}

/* tabs*/
.panasiri ul.primary li a {
	margin-right: 0;
	border-left: 0 none;
}